example.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://maxco.punkuhr.test/webservices/webservices.php" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WebServices" targetNamespace="http://maxco.punkuhr.test/webservices/webservices.php">
  <types>
    <xsd:schema targetNamespace="http://maxco.punkuhr.test/webservices/webservices.php">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
    </xsd:schema>
  </types>
  <portType name="WebServicesPort">
    <operation name="getEvents">
      <documentation>Get all the events we know about</documentation>
      <input message="tns:getEventsIn"/>
      <output message="tns:getEventsOut"/>
    </operation>
    <operation name="getEventById">
      <documentation>Fetch the detail for a single event</documentation>
      <input message="tns:getEventByIdIn"/>
      <output message="tns:getEventByIdOut"/>
    </operation>
  </portType>
  <binding name="WebServicesBinding" type="tns:WebServicesPort">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getEvents">
      <soap:operation soapAction="http://maxco.punkuhr.test/webservices/webservices.php#getEvents"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://maxco.punkuhr.test/webservices/webservices.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://maxco.punkuhr.test/webservices/webservices.php"/>
      </output>
    </operation>
    <operation name="getEventById">
      <soap:operation soapAction="http://maxco.punkuhr.test/webservices/webservices.php#getEventById"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://maxco.punkuhr.test/webservices/webservices.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://maxco.punkuhr.test/webservices/webservices.php"/>
      </output>
    </operation>
  </binding>
  <message name="getEventsIn"/>
  <message name="getEventsOut">
    <part name="return" type="soap-enc:Array"/>
  </message>
  <message name="getEventByIdIn">
    <part name="event_id" type="xsd:int"/>
  </message>
  <message name="getEventByIdOut">
    <part name="return" type="soap-enc:Array"/>
  </message>
  <service name="WebServicesService">
    <port name="WebServicesPort" binding="tns:WebServicesBinding">
      <soap:address location="http://maxco.punkuhr.test/webservices/webservices.php"/>
    </port>
  </service>
</definitions>
