example.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://maxco.punkuhr.test/webservices/initialize.php" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WebServices" targetNamespace="http://maxco.punkuhr.test/webservices/initialize.php">
  <types>
    <xsd:schema targetNamespace="http://maxco.punkuhr.test/webservices/initialize.php">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
    </xsd:schema>
  </types>
  <portType name="WebServicesPort">
    <operation name="getMethods">
      <input message="tns:getMethodsIn"/>
    </operation>
    <operation name="POST_ACT_MAT">
      <documentation>Crea Material</documentation>
      <input message="tns:POST_ACT_MATIn"/>
      <output message="tns:POST_ACT_MATOut"/>
    </operation>
    <operation name="POST_ACT_STOCK">
      <documentation>Crea Material</documentation>
      <input message="tns:POST_ACT_STOCKIn"/>
      <output message="tns:POST_ACT_STOCKOut"/>
    </operation>
  </portType>
  <binding name="WebServicesBinding" type="tns:WebServicesPort">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getMethods">
      <soap:operation soapAction="http://maxco.punkuhr.test/webservices/initialize.php#getMethods"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://maxco.punkuhr.test/webservices/initialize.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://maxco.punkuhr.test/webservices/initialize.php"/>
      </output>
    </operation>
    <operation name="POST_ACT_MAT">
      <soap:operation soapAction="http://maxco.punkuhr.test/webservices/initialize.php#POST_ACT_MAT"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://maxco.punkuhr.test/webservices/initialize.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://maxco.punkuhr.test/webservices/initialize.php"/>
      </output>
    </operation>
    <operation name="POST_ACT_STOCK">
      <soap:operation soapAction="http://maxco.punkuhr.test/webservices/initialize.php#POST_ACT_STOCK"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://maxco.punkuhr.test/webservices/initialize.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://maxco.punkuhr.test/webservices/initialize.php"/>
      </output>
    </operation>
  </binding>
  <message name="getMethodsIn"/>
  <message name="POST_ACT_MATIn">
    <part name="user" type="xsd:string"/>
    <part name="pass" type="xsd:string"/>
    <part name="id_soc" type="xsd:string"/>
    <part name="id_mat" type="xsd:string"/>
    <part name="cent" type="xsd:string"/>
    <part name="alm" type="xsd:string"/>
    <part name="nomb" type="xsd:string"/>
    <part name="und" type="xsd:string"/>
    <part name="jprod" type="xsd:string"/>
    <part name="peso" type="xsd:string"/>
    <part name="cod" type="xsd:string"/>
  </message>
  <message name="POST_ACT_MATOut">
    <part name="return" type="soap-enc:Array"/>
  </message>
  <message name="POST_ACT_STOCKIn">
    <part name="user" type="xsd:string"/>
    <part name="pass" type="xsd:string"/>
    <part name="id_soc" type="xsd:string"/>
    <part name="id_mat" type="xsd:string"/>
    <part name="cent" type="xsd:string"/>
    <part name="alm" type="xsd:string"/>
    <part name="und" type="xsd:string"/>
    <part name="stck" type="xsd:string"/>
  </message>
  <message name="POST_ACT_STOCKOut">
    <part name="return" type="soap-enc:Array"/>
  </message>
  <service name="WebServicesService">
    <port name="WebServicesPort" binding="tns:WebServicesBinding">
      <soap:address location="http://maxco.punkuhr.test/webservices/initialize.php"/>
    </port>
  </service>
</definitions>
